.container {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	border border-radius: 4px;
}

.box {
    width: 30%;
    background-color: skyblue;
    border-radius: 4px;
    text-align: center;
}